name: Build and Publish
on:
  push:
    tags:
      - "v*.*.*"
jobs:
  publish_crate:
    name: Publish to crates.io
    runs-on: ubuntu-latest
    steps:
      - name: Setup | Checkout
        uses: actions/checkout@v6
      - name: Setup | Rust
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: stable
      - name: Publish | crates.io
        run: cargo publish --locked
        env:
          CARGO_REGISTRY_TOKEN: ${{ secrets.CARGO_REGISTRY_TOKEN }}

  build_and_publish:
    name: Build release binaries for ${{ matrix.target }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: windows-latest
            target: x86_64-pc-windows-msvc
            archive: zip
    runs-on: ${{ matrix.os }}
    steps:
      - name: Setup | Checkout
        uses: actions/checkout@v6
      - name: Setup | Rust
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: stable
          target: ${{ matrix.target }}
      - name: Build | Cargo
        run: cargo build --release --locked --target ${{ matrix.target }} --color=always
      - name: Post Build | Package [Windows]
        if: matrix.archive == 'zip'
        run: |
          7z a natvis4qt-${{ matrix.target }}.zip `
            LICENSE README.md ./natvis/*.natvis `
            ./target/${{ matrix.target }}/release/natvis4qt.exe
      - name: Post Build | Checksums
        shell: bash
        run: for file in natvis4qt-*; do openssl dgst -sha256 -r "$file" | awk '{print $1}' > "${file}.sha256"; done
      - name: Publish | Add Artifacts to Release
        uses: softprops/action-gh-release@v2
        with:
          token: ${{ secrets.RELEASE_TOKEN }}
          files: |
            natvis4qt-*.zip
            natvis4qt-*.sha256
